@use './breakpoints';
@use './globalPageStyling';
@use './reset';
@use './themes';
@use './typography';

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.visually-hidden {
	clip: rect(0 0 0 0) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	overflow: hidden !important;
	position: absolute !important;
	white-space: nowrap !important;
	width: 1px !important;
}

ul {
	list-style: disc;
}

li {
	line-height: typography.$mobile-list-item-line-height;
	margin-left: 16px;
}

a {
	cursor: pointer;
	text-decoration: none;
}

svg {
	display: inline-flex;
	height: 100%;
	width: 100%;
}

body {
	font-size: typography.$mobile-font-size--M;
}

main {
	min-height: globalPageStyling.$page-main-content-height--mobile;
}

@media screen and (min-width: breakpoints.$breakpoint--1025) {
	body {
		font-size: typography.$desktop-font-size--ML;
	}

	main {
		min-height: globalPageStyling.$page-main-content-height--desktop;
	}

	li {
		line-height: typography.$desktop-list-item-line-height;
	}
}
