//// Mobile

// Font sizes
$mobile-font-size--S: 14px;
$mobile-font-size--M: 16px;
$mobile-font-size--ML: 20px;
$mobile-font-size--L: 24px;
$mobile-font-size--XL: 36px;

// Line heights
$mobile-paragraph-line-height: 24px;
$mobile-list-item-line-height: 30px;



//// Desktop

//  Font sizes
$desktop-font-size--S: 16px;
$desktop-font-size--M: 20px;
$desktop-font-size--ML: 24px;
$desktop-font-size--L: 30px;
$desktop-font-size--XL: 44px;

// Line heights
$desktop-paragraph-line-height: 34px;
$desktop-list-item-line-height: 40px;
