---

import SiteLayout, {
	type HeaderMetadata,
} from '../layouts/SiteLayout.astro';
import {type MainNavigationLinksMetadata} from '../types/MainNavigationLinkTypes';

const mainNavigationLinksMetadata: MainNavigationLinksMetadata = {
	links: [
		{
			label: 'Resume',
			link: '/',
		},
		{
			label: 'Projects',
			link: '/projects',
		},
		{
			label: 'Contact',
			link: '/contact',
		},
	],
	selectedLinkByPath: '/contact',
};
const headerMetadata: HeaderMetadata = {
	hideContactCta: true,
};
---

<SiteLayout
	title='Contact'
	mainNavigationMetadata={mainNavigationLinksMetadata}
	headerMetadata={headerMetadata}
>
	<main>
		<h1>Contact</h1>
		<div>Contact info here</div>
	</main>
</SiteLayout>
