---

import SiteLayout from '../layouts/SiteLayout.astro';

---

<SiteLayout
	title='Cory Larcade Resume'
>
	<main>
		<header class='header'>
			Header here
			<!-- <IconButton client:media="(max-width: 767)" icon=""/> -->
		</header>
		<h1>Cory Larcade</h1>
	</main>
</SiteLayout>

<style lang='scss'>
	.header {
		background-color: var(--red-0);
	}
</style>
