---

import SiteLayout from '../layouts/SiteLayout.astro';

---

<SiteLayout
	title='Cory Larcade Resume'
>
	<main>
		<h1>Cory Larcade</h1>
	</main>
</SiteLayout>

<!-- <style lang='scss'>
</style> -->
