---
interface Props {
	class?: string;
	id: string;
	type: 'primary' | 'secondary' | 'quiet' | 'link--primary';
	link?: string;
}

const {
	class: className = '',
	id,
	type = 'primary',
	link,
} = Astro.props;

const isLinkType = 'link--primary' === type;
---

{isLinkType && link && (
	<a
		id={id}
		class:list={[
			'button--primary',
			className,
		]}
		href={link}
	>
		<slot />
	</a>
)}

{!isLinkType && (
	<button
		id={id}
		class:list={[
			`button--${type}`,
			className,
		]}
	>
		<slot />
	</button>
)}

<style lang='scss'>

	@use '../styles/typography';
	@use '../styles/colors';

	:global(.button--primary) {
		align-items: center;
		background-color: var(--blue-50);
		border: none;
		border-radius: 100px;
		color: colors.$white;
		cursor: pointer;
		display: flex;
		font-size: typography.$mobile-font-size--M;
		font-weight: 700;
		justify-content: center;
		padding: 10px 15px;
		text-decoration: none;

		&:hover {
			background-color: var(--blue-100);
		}

		&:active {
			background-color: var(--blue-150);
			color: colors.$white;
		}
	}

</style>
