---
import Drawer from './Drawer.astro';
import {type MainNavigationLinksMetadata} from '../types/MainNavigationLinkTypes';

interface Props {
	class?: string;
	id: string;
	linksMetadata: MainNavigationLinksMetadata;
}

const {id, linksMetadata} = Astro.props;
const {links, selectedLinkByPath} = linksMetadata;
---

<Drawer id={id}>
	<nav class='left-nav'>
		<ul>
			{links.map((linkMetadata) => {
				let linkToRender;

				if (linkMetadata.link === selectedLinkByPath) {
					linkToRender = (
						<li class='left-nav__item'>
							<div class='left-nav__link left-nav__link--selected'>
								{linkMetadata.label}
							</div>
						</li>
					);
				} else {
					linkToRender = (
						<li class='left-nav__item'>
							<a
								class='left-nav__link'
								href={linkMetadata.link}
							>
								{linkMetadata.label}
							</a>
						</li>
					);
				}

				return linkToRender;
			})}
		</ul>
	</nav>
</Drawer>

<script>

	// const navItems = document.getElementsByClassName('left-nav__item');
	// const navLinks = document.getElementsByClassName('left-nav__link');

	// Find selected nav item and add selected css class
	// if (navItems?.length) {
	// 	const navItemsArray = Array.from(navItems);

	// 	const selectedNavItem = navItemsArray.find((item) => {
	// 		const linkElement = item.querySelector('.left-nav__link');
	// 		return Boolean(linkElement?.getAttribute('href') === window.location.pathname);
	// 	});

	// 	selectedNavItem?.classList.add('left-nav__item--selected');
	// }

	// if (navLinks?.length) {
	// 	const navLinksArray = Array.from(navLinks);

	// 	const selectedLinkElement = navLinksArray.find((linkElement) => {
	// 		return Boolean(linkElement?.getAttribute('href') === window.location.pathname);
	// 	});

	// 	selectedLinkElement?.classList.add('left-nav__link--selected', 'left-nav__link--disabled');
	// }

	// class LeftNav extends HTMLElement {
	// 		connectedCallback() {
	// 			// Read the message from the data attribute.
	// 			const containerId = this.dataset.id as string;

	// 			// Get DOM Elements
	// 			const containerElement = document.getElementById(containerId);

	// 			if (containerElement) {
	// 				const closeDrawer = () => {
	// 				};

	// 				// TODO: Add events for touch/keyboard events
	// 				containerElement.addEventListener('click', closeDrawer);
	// 			}
	// 		}
	// }

	// customElements.define('left-nav', LeftNav);

</script>

<style lang='scss'>

	@use '../styles/colors';

	.left-nav {
		display: flex;
		flex-direction: column;
		padding: 15px 10px 0;

		&__item {
			margin-bottom: 10px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		&__link {
			display: flex;
			align-items: center;
			border-radius: 10px;
			padding: 10px;
			cursor: pointer;
			text-decoration: none;
			color: var(--gray-0);

			&--selected,
			&:hover {
				background-color: var(--gray-250);
			}

			&:active {
				background-color: var(--gray-200);
			}

			&--selected {
				cursor: default;

				&:active {
					background-color: var(--gray-250);
				}
			}
		}
	}

</style>
