---
import Drawer from './Drawer.astro';

interface Props {
	class?: string;
	id: string;
}

const {id} = Astro.props;
const links = [
	{
		label: 'Resume',
		link: '/',
	},
	{
		label: 'Projects',
		link: '/projects',
	},
];
---

<Drawer id={id}>
	<nav class='left-nav'>
		<ul>
			{links.map((link) => (
				<li class='left-nav__item'>
					<a
						class='left-nav__link'
						href={link.link}
					>
						{link.label}
					</a>
				</li>
			))}
		</ul>
	</nav>
</Drawer>

<script>

	const navItems = document.getElementsByClassName('left-nav__item');

	// Find selected nav item and add selected css class
	if (navItems?.length) {
		const navItemsArray = Array.from(navItems);

		const selectedNavItem = navItemsArray.find((item) => {
			const linkElement = item.querySelector('.left-nav__link');
			return Boolean(linkElement?.getAttribute('href') === window.location.pathname);
		});

		selectedNavItem?.classList.add('left-nav__item--selected');
	}

	// class LeftNav extends HTMLElement {
	// 		connectedCallback() {
	// 			// Read the message from the data attribute.
	// 			const containerId = this.dataset.id as string;

	// 			// Get DOM Elements
	// 			const containerElement = document.getElementById(containerId);

	// 			if (containerElement) {
	// 				const closeDrawer = () => {
	// 				};

	// 				// TODO: Add events for touch/keyboard events
	// 				containerElement.addEventListener('click', closeDrawer);
	// 			}
	// 		}
	// }

	// customElements.define('left-nav', LeftNav);

</script>

<style lang='scss'>

	@use '../styles/colors';

	.left-nav {
		display: flex;
		flex-direction: column;
		padding: 15px 10px 0;

		&__item {
			padding: 10px;

			&--selected {
				background-color: var(--gray-250);
			}
		}
	}

</style>
