<div class='side-by-side-card'>
	<slot name='first' />
	<slot name='second' />
</div>

<style>

	.side-by-side-card {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
		overflow: hidden;
	}

</style>
