<div class='side-by-side-card'>
	<slot name='first' />
	<slot name='second' />
</div>

<style lang='scss'>

	@use '../styles/breakpoints';

	.side-by-side-card {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
		overflow: hidden;
	}

	@media screen and (min-width: breakpoints.$breakpoint--1025) {
		.side-by-side-card {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr;
		}
	}

</style>
