---

import SiteLayout from '../../layouts/SiteLayout.astro';
import {type MainNavigationLinksMetadata} from '../../types/MainNavigationLinkTypes';

const mainNavigationLinksMetadata: MainNavigationLinksMetadata = {
	links: [
		{
			label: 'Resume',
			link: '/',
		},
		{
			label: 'Projects',
			link: '/projects',
		},
		{
			label: 'Contact',
			link: '/contact',
		},
	],
	selectedLinkByPath: '/projects',
};
---

<SiteLayout
	title='Cory Larcade Projects'
	mainNavigationMetadata={mainNavigationLinksMetadata}
>
	<main>
		<h1>Cory Larcade Projects</h1>
		<div>Projects here</div>
	</main>
</SiteLayout>
