---
// Supports only weight 400
import '@fontsource-variable/roboto-flex';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.scss';

interface Props {
	title: string;
}

const {title} = Astro.props;
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content='Cory Larcade resume and projects' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<title>{title}</title>
	</head>
	<body id='body'>
		<Header />

		<slot />

		<Footer />
	</body>
</html>

<style lang='scss'>

	@use '../styles/colors';

	html {
		font-family: 'Roboto Flex Variable', sans-serif;
	}

	body {
		color: colors.$black;

		&.dark-mode {
			background-color: colors.$black;
			color: colors.$white;
		}
	}

</style>

<script>

	import {theme} from '../stores/theme-store';

	const bodyElement = document.getElementById('body');

	if (bodyElement) {
		// Listen to changes in the store
		theme.subscribe(themeValue => {
			console.log('SiteLayout-->themeValue', themeValue);
			if (themeValue === 'light') {
				if (!bodyElement.classList.contains('light-mode')) {
					bodyElement.classList.add('light-mode');
				}
				if (bodyElement.classList.contains('dark-mode')) {
					bodyElement.classList.remove('dark-mode');
				}
			} else if (themeValue === 'dark') {
				if (!bodyElement.classList.contains('dark-mode')) {
					bodyElement.classList.add('dark-mode');
				}
				if (bodyElement.classList.contains('light-mode')) {
					bodyElement.classList.remove('light-mode');
				}
			}
		});
	}

</script>